<div id="content" class="content">
  <router-outlet></router-outlet>
</div>
<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="space-between center"
  *ngIf="loggedIn"
>
  <div fxLayout="column" fxLayoutAlign=" center">
    <a mat-fab (click)="showScanner()"><mat-icon>qr_code_scanner</mat-icon></a>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center">
    <a mat-icon-button routerLink="/credentials" routerLinkActive="active-link"
      ><mat-icon>account_balance_wallet</mat-icon></a
    >
    <span class="info">credentials</span>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center">
    <a mat-icon-button routerLink="/history" routerLinkActive="active-link"
      ><mat-icon>history</mat-icon></a
    >
    <span class="info">History</span>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center">
    <a mat-icon-button routerLink="/settings" routerLinkActive="active-link"
      ><mat-icon>settings</mat-icon></a
    >
    <span class="info">settings</span>
  </div>
</mat-toolbar>
