.mat-toolbar {
  background-color: #D7E3FF;
  padding: 10px 40px;
  height: 84px;
  position: fixed;
  bottom: 0px;
}

.info {
  font-size: 14px;
}

.content {
  height: calc(100vh - 84px);
  overflow: auto;
  width: 100%;
  padding-bottom: 84px;
}
