<h3>My Credentials</h3>
<div fxLayout="column" fxLayoutGap="16px">
  @for (credential of credentials; track credential) {
    <img
      *ngIf="render === 'image'"
      [routerLink]="credential.id"
      class="image"
      [alt]="credential.display.background_image!.alt_text"
      [src]="credential.display.background_image!.url"
    />
    <div
      *ngIf="render === 'card'"
      [routerLink]="credential.id"
      class="card"
      fxLayout="row"
      fxLayoutGap="16px"
      fxLayoutAlign="start center"
      [ngStyle]="{
        'background-color': credential.display.background_color,
        color: credential.display.text_color
      }"
    >
      <div
        [ngStyle]="{
          'background-image':
            'url(' + credential.display.background_image!.url + ')'
        }"
        class="icon"
      ></div>
      <div>
        <h4>{{ credential.display.name }}</h4>
        <span>{{ credential.issuer.name }}</span>
      </div>
    </div>
  }
</div>
