:host {
  padding: 16px;
  display: block;
}

.mat-mdc-list-item-icon {
  margin: 0;
}

.image {
  margin: 16px 0;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  background-color: #D7E3FF;
  padding: 10px;

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  h4 {
    margin: 0;
  }
}
