<div *ngIf="element">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
      <button mat-icon-button [routerLink]="'../'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3>{{ element.relyingParty }}</h3>
    </div>
  </div>
  <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div matListItemTitle>Created at</div>
          <div matListItemLine>{{ element.created_at | date: 'medium' }}</div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle>Action</div>
          <div matListItemLine>{{ element.status }}</div>
        </mat-list-item>
        <!-- in case the user declined, should we show what they requested? -->
        <mat-list-item *ngIf="element.credentialType">
          <div matListItemTitle>Credential</div>
          <div matListItemLine>{{ element.credentialType }}</div>
        </mat-list-item>
        <div *ngIf="element.disclosed">
          <mat-divider></mat-divider>
          <div mat-subheader>Presented values</div>
          @for (disclosed of element.disclosed; track disclosed) {
            <mat-list-item>
              <div matListItemTitle>{{ disclosed.key }}</div>
              <div matListItemLine>{{ disclosed.value }}</div>
            </mat-list-item>
          }
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
