<div fxLayout="row" fxLayoutGap="16px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Receive and present an ID</mat-card-title>
    </mat-card-header>
    <img
      class="mat-card-image"
      mat-card-image
      src="https://www.bmi.bund.de/SharedDocs/bilder/DE/schmuckbilder/moderne-verwaltung/paesse-ausweise/personalausweis_vorderseite_ab_august_2021.jpg?__blob=poster&v=2"
      alt="eID"
    />
    <mat-card-content>
      <p>Issue yourself and eID and present it to a verifier.</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-button color="primary" routerLink="eid"> Start demo </a>
    </mat-card-actions>
  </mat-card>
</div>
