services:
  postgres-keycloak:
    restart: unless-stopped
    image: 'postgres:14.4'
    healthcheck:
      test:
        ['CMD', 'pg_isready', '-q', '-d', 'postgres', '-U', '$KC_POSTGRES_USER']
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
      - keycloak-db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: $KC_POSTGRES_USER
      POSTGRES_PASSWORD: $KC_POSTGRES_PASSWORD
      POSTGRES_DB: $KC_POSTGRES_DB
      POSTGRES_HOST: $KC_POSTGRES_HOST
    networks:
      - keycloak-net

  keycloak:
    restart: unless-stopped
    build:
      context: .
      args:
        KEYCLOAK_VERSION: 24.0.0
    command:
      [
        'start',
        '--optimized',
        '--spi-theme-static-max-age=-1',
        '--spi-theme-cache-themes=false',
        '--spi-theme-cache-templates=false',
        '--import-realm',
      ]
    depends_on:
      - 'postgres-keycloak'
    environment:
      JAVA_OPTS_APPEND: -Dkeycloak.profile.feature.upload_scripts=enabled
      KC_DB_URL: jdbc:postgresql://postgres-keycloak/$KC_POSTGRES_DB?user=$KC_POSTGRES_USER&password=$KC_POSTGRES_PASSWORD
      KC_HEALTH_ENABLED: 'true'
      KC_HTTP_ENABLED: 'true'
      KC_METRICS_ENABLED: 'true'
      KC_HOSTNAME_URL: $KEYCLOAK_HOSTNAME_URL
      KEYCLOAK_ADMIN: $KEYCLOAK_ADMIN
      KEYCLOAK_ADMIN_PASSWORD: $KEYCLOAK_ADMIN_PASSWORD
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/realm-export.json
    volumes:
      - ./realm.json:/opt/keycloak/data/import/realm.json
    ports:
      - '8080:8080'
    networks:
      - keycloak-net
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/health']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 2m

networks:
  keycloak-net:
    driver: bridge

volumes:
  keycloak-db:
