@use '@angular/material' as mat;
// @use '@angular/material-experimental' as matx;
@import '@angular/cdk/overlay-prebuilt.css';

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: '"Roboto", sans-serif',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

:root {
  @include mat.all-component-themes($theme);
}
