<div fxLayout="column" fxLayoutGap="16px" id="content">
  <button mat-raised-button color="primary" (click)="generate()">
    Generate QR-Code
  </button>
  <img [src]="qrCodeImage" *ngIf="qrCodeImage" alt="QR-Code" />
  <mat-form-field [appearance]="'outline'">
    <input
      placeholder="QR-Code Url"
      matInput
      readonly
      [formControl]="qrCodeField"
    />
    <button mat-icon-button matSuffix (click)="copyValue()" *ngIf="qrCodeImage">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
  <p *ngIf="issuerService.statusEvent.value">
    Status: {{ issuerService.statusEvent.value }}
  </p>
</div>
