<mat-list>
  <mat-list-item>
    <mat-slide-toggle [formControl]="automateControl" labelPosition="before"
      >Automate issuance and verify process</mat-slide-toggle
    >
  </mat-list-item>
  <mat-list-item>
    <a [href]="keycloakLink" target="_blank">Update password</a>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="authService.logout()">Logout</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="showLicense()">Show license</button>
  </mat-list-item>
</mat-list>
