<mat-card>
  <mat-card-header *ngIf="template">
    <mat-card-title fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button routerLink="../">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span>{{ template.name }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div #jsonEditorContainer id="editor"></div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      color="primary"
      (click)="save()"
      [disabled]="!valid"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
