#reader {
  width: 100vw !important;
  height: calc(100vh - 84px) !important;
  object-fit: cover;

  ::ng-deep video {
    width: 100% !important;
    height: 100% !important;
    object-fit: inherit;
  }
}

#menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  color: #fff;
}
