HOSTNAME=127.0.0.1
PORT=3002
NODE_ENV=development
VERIFIER_BASE_URL=http://localhost:3002

DB_TYPE=sqlite
DB_NAME=tmp/verifier-db.sqlite

# Keycloak config
OIDC_AUTH_URL=http://host.docker.internal:8080
OIDC_REALM=wallet
OIDC_CLIENT_ID=relying-party
OIDC_CLIENT_SECRET=hA0mbfpKl8wdMrUxr2EjKtL5SGsKFW5D

CREDENTIALS_FOLDER=deploys/verifier/config/verifier-backend

KM_FOLDER=tmp/verifier-backend/keys
