<div fxLayout="column" fxLayoutGap="16px" id="content" *ngIf="template">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button routerLink="../">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span>{{ template.value.name }}</span>
      </mat-card-title>
    </mat-card-header>
    <form (submit)="generate()" fxLayout="column" fxLayoutGap="16px">
      <mat-card-content> </mat-card-content>
      <mat-card-actions align="end">
        <button type="submit" mat-flat-button color="primary">Generate</button>
      </mat-card-actions>
    </form>
  </mat-card>
  <div *ngIf="qrCodeImage" fxLayout="column" fxLayoutGap="16px">
    <img [src]="qrCodeImage" alt="QR-Code" />
    <mat-form-field [appearance]="'outline'">
      <mat-label>QR-Code Url</mat-label>
      <input
        placeholder="QR-Code Url"
        matInput
        readonly
        [formControl]="qrCodeField"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="copyValue(qrCodeField.value!)"
        *ngIf="qrCodeImage"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <p *ngIf="verifierService.statusEvent.value">
      Status: {{ verifierService.statusEvent.value }}
    </p>
  </div>
</div>
