OIDC_AUTH_URL=http://host.docker.internal:8080
OIDC_REALM=wallet
OIDC_CLIENT_ID=issuer
OIDC_CLIENT_SECRET=issuer_secret
VERIFIER_BASE_URL=http://localhost:3002
ISSUER_BASE_URL=http://localhost:3001
CREDENTIALS_FOLDER=templates
KM_FOLDER=data

#DB_TYPE=sqlite
#DB_NAME=data/db.sqlite

DB_TYPE=postgres
DB_NAME=issuer
DB_USERNAME=issuer
DB_PASSWORD=issuer
DB_PORT=5432
DB_HOST=localhost

# Frontend
FRONTEND_OIDC_CLIENT_ID=relying-party
FRONTEND_OIDC_CLIENT_SECRET=hA0mbfpKl8wdMrUxr2EjKtL5SGsKFW5D
FRONTEND_PORT=81

BACKEND_URL=http://localhost:3001
BACKEND_PORT=3001
