<div [ngSwitch]="status">
  <div *ngSwitchCase="'scanning'" id="scanner">
    <button
      id="menu"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        id="insert"
        mat-menu-item
        (click)="passFromClipboard()"
        *ngIf="readFromClipboard"
      >
        <mat-icon>content_paste</mat-icon>
        <span>Insert from clipboard</span>
      </button>
      <button mat-menu-item (click)="openInput()" *ngIf="!readFromClipboard">
        <mat-icon>content_paste</mat-icon>
        <span>Insert string</span>
      </button>
      <mat-divider></mat-divider>
      @for (device of devices; track device) {
      <button
        mat-menu-item
        (click)="changeCamera(device.id)"
        [disabled]="device.id === selectedDevice"
      >
        <mat-icon>camera</mat-icon>
        <span>{{ device.label }}</span>
      </button>
      }
    </mat-menu>
    <div
      id="loading"
      fxLayout="column"
      fxLayoutGap="16px"
      *ngIf="loading"
      fxLayoutAlign="center center"
    >
      <mat-spinner></mat-spinner>
      <span>Loading camera</span>
    </div>
    <div id="reader"></div>
  </div>
  <div *ngSwitchCase="'showRequest'">
    <lib-issuance-request [url]="url" *ngIf="url"></lib-issuance-request>
  </div>
  <div *ngSwitchCase="'showVerificationRequest'">
    <lib-verify-request [url]="url" *ngIf="url"></lib-verify-request>
  </div>
</div>
