services:
  verifier-backend:
    image: ghcr.io/openwallet-foundation-labs/credhub/verifier-backend
    volumes:
      - verifier:/home/node/app/data:rw
      - ./config/verifier-backend:/home/node/app/templates
    ports:
      - $BACKEND_PORT:3000
    environment:
      - OIDC_AUTH_URL=$OIDC_AUTH_URL
      - OIDC_REALM=$OIDC_REALM
      - OIDC_CLIENT_ID=$OIDC_CLIENT_ID
      - OIDC_CLIENT_SECRET=$OIDC_CLIENT_SECRET
      - VERIFIER_BASE_URL=$VERIFIER_BASE_URL
      - CREDENTIALS_FOLDER=$CREDENTIALS_FOLDER
      - KM_FOLDER=$KM_FOLDER
      - DB_TYPE=$DB_TYPE
      - DB_NAME=$DB_NAME
      - DB_HOST=$DB_HOST
      - DB_PORT=$DB_PORT
      - DB_USERNAME=$DB_USERNAME
      - DB_PASSWORD=$DB_PASSWORD
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'http://localhost:3000/health']
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - backend

  verifier-frontend:
    image: ghcr.io/openwallet-foundation-labs/credhub/verifier-frontend
    environment:
      - BACKEND_URL=$VERIFIER_BASE_URL
      - OIDC_AUTH_URL=$OIDC_AUTH_URL/realms/$OIDC_REALM
      - OIDC_CLIENT_ID=$FRONTEND_OIDC_CLIENT_ID
      - OIDC_CLIENT_SECRET=$FRONTEND_OIDC_CLIENT_SECRET
    ports:
      - $FRONTEND_PORT:80

  db:
    restart: unless-stopped
    image: 'postgres:14.4'
    healthcheck:
      test: ['CMD', 'pg_isready', '-q', '-d', 'postgres', '-U', '$DB_USERNAME']
      timeout: 45s
      interval: 10s
      retries: 10
    environment:
      POSTGRES_USER: $DB_USERNAME
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_DB: $DB_NAME
      POSTGRES_HOST: $DB_HOST
    volumes:
      - verifier-db:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  verifier:
  verifier-db:

networks:
  backend:
