name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - uses: nrwl/nx-set-shas@v4

      - name: Run license check
        run: npx license-checker --onlyAllow "MIT;Apache-2.0;BSD-2-Clause;BSD-3-Clause;0BSD"

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Build keycloak
        run: cd deploys/keycloak && docker-compose build keycloak

      - name: Add entry to /etc/hosts
        run: echo "127.0.0.1       host.testcontainers.internal" | sudo tee -a /etc/hosts

      - name: Lint, test, build, e2e
        run: INPUT_GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} pnpm exec nx affected -t lint test container e2e
# comment out since the current e2e tests do not produce any artifacts
#      - name: Upload coverage
#        uses: codecov/codecov-action@v4
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload playwright results
        uses: actions/upload-artifact@v4
        with:
          name: playwright-results
          path: dist/.playwright
          retention-days: 30

      - name: Upload testcontainer logs
        uses: actions/upload-artifact@v4
        with:
          name: testcontainer-logs
          path: tmp/logs
          retention-days: 30
